{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="contact-container">
    <h1>About</h1>
    <div class="rte">
        <p>If fashion is your passion then look no further! Conquista online is sure to fulfil all your sartorial needs, whatever the occasion. We believe shopping should be fun and the Conquista online experience promises exactly that at the click of a button. We know you’ll enjoy browsing our collection with so many different products on offer and at competitive prices. We specialise in original women’s fashion for the woman who knows what she wants and how to get it! Contemporary, casual, dressy, edgy - whatever your style, Conquista has that special something just for you. Be unique, be fabulous, be CONQUISTA!</p>
    </div>
</div>

{% endblock content %}