{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="cart-pag-container">
    <h1>سلة المشتريات</h1>
    <!-- <a href="{% url 'home' %}" class="text-link-accent"> الاستمرار فى التسوق </a> -->
    <div class="table-head">
        <div>
            <h3>المنتج</h3>
        </div>
        <!-- <div class="info">
            <h3>سعر المنتج</h3>
            <h3>الكمية</h3>
            <h3>الاجمالى</h3>
        </div> -->
    </div>
    {% for prod in orderitems%}
    <div class="cart-prduct-container">
        <div class="cart-img-container">
            <div class="cart-img">
                <img src="{{prod.product.url}}" alt="" class=""/>
            </div>
            <div class="cart-img-info">
                <div>{{prod.product.name}}</div>
                <p>المقاس {{prod.size}}</p>
                <!-- <a href="#" class="text-link-accent"> Remove </a> -->
                <button type="submit" data-product="{{prod.product.id}}" data-action="remove" data-bs-toggle="modal" data-bs-target="#exampleModal" class="product-form-cart-submit update-cart">
                    Remove
                </button>
            </div>
        </div>
        <div class="info">
            <div>
                <h3>سعر المنتج</h3>
                <div class="cart-price">جم {{prod.product.price}}</div>
            </div>
            
            <!-- <div>
                <input class="cart-qty-input" type="number" value="{{prod.quantity}}" />
            </div> -->
            <div>
                <h3>الكمية</h3>
                <div>{{prod.quantity}}</div>
            </div>
            <div>
                <h3>الاجمالى</h3>
                <div>جم {{prod.price}}</div>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
<div class="cart-footer">
    <!-- <div class="discount-card">
        <div class="discount-cart">
            <span>Pre Sale Season</span>
            <svg class="icon-saletag">
                <path
                    d="M10 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0-3H7a1 1 0 0 0-.71.29l-6 6a1 1 0 0 0 0 1.42l4 4a1 1 0 0 0 1.42 0c.19-.2 5.8-5.81 6-6A1 1 0 0 0 12 5V2a2 2 0 0 0-2-2z"
                    fill="red"></path>
            </svg>
        </div>
        <span class="discount-cart-total">€16,50<span>-</span></span>
    </div> -->
    <div class="cart-subtotal">
        <span class="cart-subtotal-title">الاجمالى</span>
        <span class="cart-subtotal-price">جم {{order.get_total_price}}</span>
    </div>
    <!-- <div class="cart-shipping">Tax included and shipping calculated at checkout</div> -->
    <div class="cartsubmit-controls">
        <a href="{% url 'checkout' %}" class="btn btn-danger">CHECK-OUT</a>
    </div>
    <!-- <div class="cart-pay-option">
        <img src="{% static 'images/visa.jpg' %}" alt="" />
        <img src="{% static 'images/instaPay.jpg' %}" alt="" />
        <img src="{% static 'images/cash.jpg' %}" alt="" />
    </div> -->
</div>
{% endblock content %}