{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="title">
    <h1>{{subs.name}}</h1>
</div>
<div class="bar">
    <div class="filters-bar-container">
        <form action="{% url 'collection' subs.name %}" method="get" name="filterForm" id="filter">
            <label class="filters-toolbar-label select-labe" for="SortBy">ترتيب حسب</label>
            <select name="filter_by" onchange='document.filterForm.submit();'>
                <option value="manual" {% if sort == 'manual' %}selected{% endif %}>عرض</option>
                <option value="LowToHigh" {% if sort == 'LowToHigh' %}selected{% endif %}>السعر من اقل لأعلى</option>
                <option value="HighToLow" {% if sort == 'HighToLow' %}selected{% endif %}>السعر من اعلى لأقل</option>
            </select>
        </form>
    </div>
    <span class="filters-toolbar-product-count">{{count}} منتج</span>
</div>
<div class="grid-container">
    {% for prod in page_obj %}
        <div class="product-card">
            <a href="{% url 'product' prod.slug %}" class="card-anchor">
                <span class="visually-hidden">{{prod.name}}</span>
            </a>
            <div>
                <img
                    class="grid-image"
                    src="{{prod.image.url}}"
                    alt="{{prod.name}}" />
            </div>
            <div class="overlay"></div>
            <div>
                <div class="product-card-title">{{prod.name}}</div>
                <span class="price-item"> جم {{prod.price}} </span>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <!-- <div class="icon-arrow-right icon-arrow">←</div> -->
    {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&filter_by={{sort}}" class="icon-arrow-left icon-arrow">→</a>
            <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
    {% endif %}
    <div class="pagination-text">صفحة <span>{{ page_obj.number }}</span> من <span>{{ page_obj.paginator.num_pages }}</span></div>
    

    {% if page_obj.has_previous %}
            <!-- <a href="?page=1" class="icon-arrow-right icon-arrow">&laquo; first</a> -->
            <a href="?page={{ page_obj.previous_page_number }}&filter_by={{sort}}" class="icon-arrow-right icon-arrow">←</a>
    {% endif %}
    <!-- <div class="icon-arrow-left icon-arrow">→</div> -->
</div>

{% endblock content %}