{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="contact-container">
    <h1>Company</h1>
    <div class="rte">
        <p>The collection is designed in Greece and sold in many European countries and overseas. This collection includes a wide range of informal clothes for the city aimed at the fashion conscious woman of 30-45 years old. All models are created using the latest fashion trends. They are unique because of the excellent fit and high quality materials.
            Conquista specializes in dresses. Allover prints are a predominant feature. A great emphasis is placed on high quality. 100% of production is in Europe/ Greece- from European fabrics</p>
    </div>
</div>

{% endblock content %}