{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
    <h2>{{homeInfo.HomePageSeasonTitle}}</h2>

    <div class="grid-container">
        {% for prod in products %}
        <div class="product-card">
            <a href="{% url 'product' prod.slug %}" class="card-anchor">
                <span class="visually-hidden">{{prod.name}}</span>
            </a>
            <div>
                <img
                    class="grid-image"
                    src="{{prod.image.url}}"
                    alt="{{prod.name}}" />
            </div>
            <div class="overlay"></div>
            <div class="product-card-title">{{prod.name}}</div>
            <span class="price-item"> LE {{prod.price}} </span>
        </div>
        {% endfor %}
    </div>
    <a class="View-all" href="{% url 'new-arrivals' %}">اعرض الكل</a>
</div>
<div class="collection">
    <!-- <h2>50% OFF EVERYTHING</h2> -->
     <div class="swiper mySwiper">
        <div class="grid-carousel-container swiper-wrapper">
            {% for prod in allProducts %}
            <div class="carousel-card swiper-slide">
                <a href="{% url 'product' prod.slug %}" class="card-anchor">
                    <span class="visually-hidden">{{prod.name}}</span>
                </a>
                <div>
                    <img
                        class="grid-image"
                        src="{{prod.image.url}}"
                        alt="{{prod.name}}" />
                </div>
                <div class="overlay"></div>
                <div class="product-card-title">{{prod.name}}</div>
                <span class="price-item"> LE {{prod.price}} </span>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
     </div>
</div>
<div class="feature">
    <img
        class="feature-image"
        src="{{homeInfo.HomePageImage.url}}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="1.0"
        data-sizes="auto" />
    <div class="feature-text">
        <h2 class="feature-h2">{{homeInfo.HomePageImageTitle}}</h2>
        <p class="feature-p">
            {{homeInfo.HomePageParagraph}}
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 5,
    //   slidesOffsetAfter:0,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        type:'fraction',
      },
    //   loop:true,
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

    breakpoints:{
        800: {
      slidesPerView: 3,
      spaceBetween: 30
    }
    }
    });
  </script>
{% endblock content %}