{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
    <h2>{{homeInfo.HomePageSeasonTitle}}</h2>

    <div class="grid-container">
        {% for prod in products %}
        <div class="product-card">
            <a href="{% url 'product' prod.slug %}" class="card-anchor">
                <span class="visually-hidden">{{prod.name}}</span>
            </a>
            <div>
                <img
                    class="grid-image"
                    src="{{prod.image.url}}"
                    alt="{{prod.name}}" />
            </div>
            <div class="overlay"></div>
            <div>
                <div class="product-card-title">{{prod.name}}</div>
                <span class="price-item"> جنيه مصرى {{prod.price}} </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="View-all" href="{% url 'new-arrivals' %}">اعرض الكل</a>
</div>
<div class="collection">
    <!-- <h2>50% OFF EVERYTHING</h2> -->
     <div class="swiper mySwiper">
        <div class="grid-carousel-container swiper-wrapper" style="flex-grow: inherit;">
            {% for prod in allProducts %}
            <div class="carousel-card swiper-slide" style="display: flex; flex-direction: column; justify-content: space-between;">
                <a href="{% url 'product' prod.slug %}" class="card-anchor">
                    <span class="visually-hidden">{{prod.name}}</span>
                </a>
                <div>
                    <img
                        class="grid-image"
                        src="{{prod.image.url}}"
                        alt="{{prod.name}}" />
                </div>
                <div class="overlay"></div>
                <div>
                    <div class="product-card-title">{{prod.name}}</div>
                    <span class="price-item"> جنيه مصرى {{prod.price}} </span>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
     <div class="slider-container">
        <div class="slider-buttons">
            <button class="slider2" style="width: 15px">
                <svg viewBox="0 0 10 6">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                        fill="currentColor"></path>
                </svg>
            </button>
            <div class="swiper-pagination" style="position:inherit;"></div>
            

            <button class="slider1" style="width: 15px">
                <svg viewBox="0 0 10 6">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                        fill="currentColor"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="feature">
    <img
        class="feature-image"
        src="{{homeInfo.HomePageImage.url}}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="1.0"
        data-sizes="auto" />
    <div class="feature-text">
        <h2 class="feature-h2">{{homeInfo.HomePageImageTitle}}</h2>
        <p class="feature-p">
            {{homeInfo.HomePageParagraph}}
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 5,
    //   slidesOffsetAfter:0,
    centeredSlides:true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        type:'fraction',
      },
      loop:true,
    navigation: {
        nextEl: ".slider2",
        prevEl: ".slider1",
      },

    breakpoints:{
        800: {
      slidesPerView: 3,
      spaceBetween: 30
    }
    }
    });
  </script>
{% endblock content %}