{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="contact-container">
    <h1>Store Policies</h1>
    <div class="rte">
        <p>
            Store Policies
Your Statutory rights are not affected by any of the following store policies.

Ordering Online
Ordering Online with us is safe and secure!

This online system is 100% secure.

We encourage you to feel comfortable using PayPal to conduct commerce on our site.

Return / Refund Policy
Every item we sell is carefully inspected before it is shipped.

If you are not satisfied though with the goods delivered or you just changed your mind and inform us within ten days of your receipt of the goods , you can return them back

Our returns address is :

EU returns:

Globus LTD, 6th km Thessaloniki - Oreokastrou, 56430, Thessaloniki, Greece.

UK Returns:

C311001Conquista
c/o Experience Logistics Group  
Unit 5
Higher Swan Lane
Bolton
Greater Manchester
BL3 3AQ
Phone +44 161 818 9947

Belgium Returns:

C301001 Globus
c/o Tailormade Logistics
Rte de Wallonie 138A,
7011
Saint-Ghislain
Belgium


The goods are your responsibility until they reach our warehouse, so make sure it is packed up properly and can not get damaged on the way!

Make sure too that you use a postal service that insures you for the value of the items you are returning or obtain proof of posting.

As soon as we receive your return back, all goods will be inspected well.

We will then refund the price you purchased your item at. This includes only the sale price of each item.

In case of a faulty item on delivery, we will refund the price you purchased your item at, plus the money spent for the transportation cost .

If you want to exchange items or if you want something to be replaced for a different size or colour, just include a note with the details of your replacement, when you return it back. As soon as we receive your return we will directly send you the replacement and in this case you will be charged only for the transportation cost of the delivery.

All our staff from customer care service will always be at your disposal for any further help or information.

Delivery Information
Please note down that shipment of each order is usually proceeded via Registered Post Office(If you wish your order to be shipped via DHL Express Courier Delivery Services,please send us an e-mail, in order to give you all further information of how it could be arranged).

Delivery charges are calculated on a per-product basis. Please make note of the delivery charges associated with each item. Shipping Cost will be automatically calculated at the checkout page when both the delivery destination and service option is selected.

The summary of delivery timescales always depends on your countries services. In general the delivery time is:

TO AREA

DELIVERY TIMES IN WORKING DAYS (Monday - Friday)

Greece

2-3 Days From Day of shipment

Europe

From 5-7 Days From Day of shipment

Rest of the World

From 12-14 Days From Day of shipment

Once your parcel has arrived in your country, it will be passed on to an internal postal service, according to your countries delivery procedures. If you aren't available when your parcel is delivered, the delivery driver will leave a calling card with instructions on how to pick it up. Delivery time may vary depending on your Local Post Office.

Prices
Goods are charged at price shown on the product pages on the date the customer places the order. Prices are correct at time of publication. Errors and omissions are excepted. Orders will be processed at our published prices, otherwise, in the case of any unexpected change in price, you will be informed and asked if you wish to reconsider your order before proceeding.

All orders are processed in euros regardless of your shopping currency. The currency conversion displayed is for guidance only and may differ to the conversion rate charged by your bank or PayPal.

If you are placing an order for delivery outside of Europe then any duty and taxes will be charged once your parcel arrives in your country. We cannot predict what these charges would be, as customs policies and import duties vary widely from country to country.

Please note that discount and promo codes are valid on: full priced items only while stock lasts and one order per customer; Are not valid with other discount and promo codes or optional delivery charges.

Complaints
If we should receive a complaint about any part of our service, by phone, fax, e-mail or letter, then it will be dealt with promptly (we will reply within 5 working days).It will then be dealt with confidentially, and effectively.
        </p>
    </div>
</div>

{% endblock content %}