{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="contact-container">
    <h1>Wholesale</h1>
    <div class="rte">
        <p>
            Welcome to our way of life!

Can't get enough of Conquista? Cooperate with us in wholesale terms!

The procedure is simple, you just need to drop us a simple message to info@conquista-fashion.com.

Please contact us for all further Wholesale terms and conditions.

Hope for a long and fruitful cooperation

Best regards 
Conquista Fashion

        </p>
    </div>
</div>

{% endblock content %}